<!doctype html>
<html lang="en" data-mode="dark">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>{% block title %}{{ site.name }}{% endblock %}</title>
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="stylesheet" href="{{ asset('/css/wavefunk/wavefunk.css') }}">
<link rel="stylesheet" href="{{ asset('/css/eigen.css') }}">
<script src="https://unpkg.com/htmx.org@2.0.4" defer></script>
{% block head %}{% endblock %}
</head>
<body hx-boost="true">
{% block body %}{% endblock %}
</body>
</html>
